

body {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-family: Formula1-Italic;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffffa9;
  position: sticky;
  top: 0;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  color: #d30213;
}

ul li a.active {
  color: #5c01ee;
}