body {
  background: url(" ");
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: right;
}



.topnav {
  background-color: #3b3a3a;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #e10505;
  color: white;
}


navbar {
  font-size: 30px;
}



h2 {
  font-size: 30px;
  font-style: sans-serif;
}

p {
  font-size: 18px;
}

h3 {
  font-style: sans-serif;
}




footer {
  display: block;
}